:host {
  margin-top: 2rem;
}
section.container {
  height: 100%;
  display: flex;
  flex: auto;
  align-items: end;
}

img {
  width: 1.2rem;
  height: 1rem;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}

.input-group-append,
input.form-control,
button.btn-outline-primary,
button.btn-outline-secondary
{
  vertical-align: middle;
}
.unauth-section {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.a-loggin {
  cursor: pointer;
  font-style: italic;
  color: #3717ad;
}