:host {
  margin-top: 2rem;
}
a {
  cursor: pointer;
}
img {
  width: 1.2rem;
  height: 1rem;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}

.input-group-append,
input.form-control,
button.btn-outline-primary,
button.btn-outline-secondary
{
  vertical-align: middle;
}
